doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href= './' + id_project + '/groups') Add to group of projects
      p
      li
        a(href='./' + id_project + '/users') Users contributing on this project
      p
      li
        a(href='./' + id_project + '/users/search') Add Users to project