doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href=' ') Add to group of projects
    p
    p Users contributing on this project

    li
      a(href=' ') Add Users 