doctype html
html(lang='es')
  head
    title Formulario
    meta(charset='utf-8')
    link(type='text/css', href='./css/style.css', rel='stylesheet')
  body
    #cuerpo
      form#form-login(action='./newproject', method='post', autocomplete='off')
       
        p
          label Name:
        input#usuario(name='project_name', type='text', placeholder='Proyect name', autofocus='', required='')
        p
          label Public:
        input(type="checkbox" name="public")
        p#bot
          input#submit.boton(type='submit',  value='Create')