doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href='/newproject') Create proyect
      li
        a(href='/findmyproject') Find Project
      li
        a(href='/allMyprojects') My Projects
        
    p
    ul


      