doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href='/newproject') Create proyect
      li
        a(href='/allMyprojects') My Projects
      li
        a(href='/groups') My Groups
      li
        a(href='/searchp') Find Project
      li
        a(href='/searchg') Find Group
        
    p
    ul


      