doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    - for (var i = 0; i < project_names.length; ++i) {
        li
          =project_names[i]
    - }