doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href='/auth/signup') Sign up
      li
        a(href='/auth/signin') Sign in 
      
        
      
      